.container {
  max-width: 361px;
  padding: 0 16px;
  margin: 0 auto;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header {
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.header {
  display: flex;
  background-color: transparent;
}
.nav-header-list {
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-header-item-link {
  display: flex;
  padding: 32px 0;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-header {
  font-family: "Hind Guntur", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.91;
  text-align: center;
  color: #fff;
}
.header-icons-list {
  display: flex;
  gap: 16px;
}
.header-icon {
  fill: none;
  stroke: #000;
}
.icon-header-heart {
  fill: #000;
  stroke: transparent;
}
/* HERO */
.hero {
  background-image: url(../image/image-bg-boh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 361px;
  padding-bottom: 263px;
  padding-top: 91px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.42;
  text-align: center;
  color: #002438;
  max-width: 360px;
}
.hero-txt {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #002438;
  margin-top: 16px;
  margin-bottom: 16px;
}
.hero-btn {
  display: block;
  max-width: 177px;
  height: 40px;
  padding: 9px 22px;
  background-color: #4987ba;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
  border: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:focus,
.hero-btn:active {
  background-color: rgba(41, 90, 131, 100);
}
/* bg section */
.background-section {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.4;
  padding: 24px 0;
  background-image: url(../image/Furvana.png);
  background-repeat: repeat-x;
  background-size: cover;
  margin: 15px 0;
}
/* Why Choose Us */
.why-choose-us {
  padding: 48px 0;
}
.why-choose-us-title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #002438;
  margin-bottom: 16px;
}
.icon-why-choose-us {
  display: flex;
  width: 100px;
  height: 100px;
}
.container-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-choose-us-txt {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #002438;
  margin-top: 8px;
  margin-bottom: 16px;
}
.why-choose-us-txt:last-child {
  margin-bottom: 0;
}
/* Catalog */

.catalog {
  padding: 48px 0;
}
.catalog-title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #002438;
  margin-bottom: 16px;
}
.icon-catalog {
  fill: #fff;
  position: absolute;
  top: 8px;
  right: 8px;
}
.container-price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-list {
  display: flex;
  column-gap: 8px;
  row-gap: 16px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.catalog-item {
  width: calc((100% - 8px) / 2);
  position: relative;
}
.catalog-container-title {
  font-weight: 400;
  font-size: 16px;
  color: #002438;
  margin-top: 8px;
  margin-bottom: 8px;
}
.catalog-container-txt {
  font-weight: 400;
  font-size: 16px;
  color: #002438;
}
.catalog-btn {
  display: none;
}
.catalog-btn-mobile {
  display: block;
  padding: 4px 16px;
  max-width: 65px;
  height: 30px;
  background-color: #4987ba;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
.catalog-btn-mobile:focus,
.catalog-btn-mobile:active {
  background-color: rgba(123, 187, 240, 100);
}
.catalog-btn-all {
  display: none;
}
/*  About Us          */
.about-us {
  padding: 48px 0;
}
.about-us-container {
  position: relative;
}
.about-us-title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #002438;
  margin-bottom: 16px;
}

.photo-flex {
  display: flex;
  gap: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.large {
  flex: 2;
}

.small {
  flex: 2;
}

.column img {
  width: 100%;
  object-fit: cover;
}
.about-us-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.about-us-title-txt {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 42px;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px #002438;
  top: 0;
}
.about-us-txt {
  font-weight: 400;
  font-size: 16px;
  color: #002438;
  max-width: 361px;
  margin-bottom: 16px;
}
.about-us-title-txt-bott {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 42px;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1px #002438;
  top: 201px;
}
.container-photo {
  display: none;
}
.about-us-btn {
  display: block;
  padding: 10px 32px;
  width: 156px;
  height: 40px;
  background-color: #4987ba;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: transparent;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*  Customer Reviews */
.customer-reviews {
  padding: 48px 0;
  padding-bottom: 16px;
}
.customer-reviews-title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #002438;
  margin-bottom: 48px;
}
.image-review-person {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -34px;
  width: 56px;
}
.container-img {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.review-card-list {
  display: flex;
  row-gap: 48px;
  column-gap: 8px;
  flex-wrap: wrap;
}
.review-card-item {
  width: calc((100% - 8px) / 2);
  border: 1px solid #002438;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
  position: relative;
}
.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 60px;
}
.review-card-icon-another {
  fill: transparent;
  stroke: #002438;
}
.card-user-name {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #002438;
  margin-bottom: 8px;
}
.review-date {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #002438;
  margin-bottom: 16px;
}
.review-card-smbl {
  display: block;
  margin: 0 auto;
}
.review-card-txt {
  font-weight: 400;
  font-size: 16px;
  color: #002438;
  margin-top: 16px;
  max-width: 161px;
}
.review-btn-all {
  padding: 9px 32px;
  min-width: 207px;
  height: 40px;
  background-color: #4987ba;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  text-align: center;
  border: transparent;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-btn-all:hover,
.review-btn-all:focus {
  background-color: rgba(123, 187, 240, 100);
}
.contact-us-title-mobile {
  margin-top: 48px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #002438;
}
/* contact-us           */
.contact-us {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #ecf4ff;
}
.contact-us-title {
  display: none;
}
.contact-us-container {
  display: flex;
  flex-direction: column;
}
.contact-us-form {
  display: flex;
  flex-direction: column;
}
.contact-us-input-name {
  border: 1px solid #002438;
  padding: 16px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin-bottom: 32px;
}
.contact-us-input-name::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #7f8487;
}
.contact-us-input-email {
  border: 1px solid #002438;
  padding: 16px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin-bottom: 32px;
}
.contact-us-textarea {
  border: 1px solid #002438;
  padding: 16px;
  max-width: 361px;
  height: 130px;
  resize: none;
  background-color: transparent;
  margin-bottom: 24px;
}
.contact-us-textarea::-webkit-scrollbar {
  color: #fff;
}
.contact-us-bnt {
  padding: 10px 32px;
  width: 124px;
  height: 40px;
  background-color: #4987ba;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: transparent;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-us-bnt:active,
.contact-us-bnt:focus {
  background-color: rgba(123, 187, 240, 100);
}
.contact-us-list {
  display: flex;
  flex-direction: column;
}
.contact-us-item {
  gap: 16px;
}
.contact-us-txt-email {
  font-weight: 600;
  font-size: 18px;
  color: #002438;
  margin-bottom: 16px;
}
.contact-us-link-email {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #002438;
  margin-bottom: 24px;
}
.contact-us-txt-number {
  font-weight: 600;
  font-size: 18px;
  color: #002438;
  color: #002438;
  margin-bottom: 16px;
}
.contact-us-link-number {
  font-weight: 400;
  font-size: 16px;
  color: #002438;
  display: block;
  margin-bottom: 24px;
}
.contact-us-txt-follow {
  font-weight: 600;
  font-size: 18px;
  color: #002438;
  margin-bottom: 16px;
}
.contact-us-link-icon {
  display: inline-flex;
  margin-bottom: 24px;
  gap: 24px;
}
.contact-us-txt-visit {
  font-weight: 600;
  font-size: 18px;
  color: #002438;
  margin-bottom: 16px;
}
.contact-us-txt-addr {
  font-weight: 400;
  font-size: 16px;
  color: #002438;
  margin-bottom: 32px;
}
.contact-us-container-info-img {
  display: flex;
  margin-top: 32px;
}
.contact-us-img-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.maps {
  display: flex;
}
/* Bg sec */

.background-section {
  display: none;
}

/* Fag */
.faq-bckgrnd {
  padding-top: 48px;
  padding-bottom: 16px;
  margin: 0 auto;
}
.faq-title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #002438;
  color: #002438;
  text-align: center;
}
/*  */
.faq {
  padding: 32px 0;
  background-color: #ecf4ff;
}
/* .faq-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 48px;
} */
.faq-txt-top,
.faq-txt-bottom {
  display: none;
}
.faq-txt-top-mob {
  font-weight: 600;
  font-size: 18px;
  color: #002438;
  min-width: 361px;
  margin-bottom: 8px;
}
.faq-txt-bottom-mob {
  font-weight: 400;
  font-size: 16px;
  color: #002438;
  max-width: 361px;
  margin-bottom: 24px;
  display: flex;
  gap: 24px;
}
.faq-txt-bottom-mob-last {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #002438;
  max-width: 361px;
}
.faq-button {
  display: block;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding: 10px 32px;
  width: 132px;
  height: 40px;
  background-color: #4987ba;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.faq-button:active,
.faq-button:focus {
  background-color: rgba(123, 187, 240, 100);
}
/* Sign up to get a discount */

.discount {
  padding: 48px 0;
}
.discount-title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #002438;
  margin-bottom: 16px;
}
.discount-cont-form {
  border: 1px solid #002438;
  padding: 32px 16px;
  max-width: 361px;
  max-height: 311px;
  margin-top: 24px;
}
.discount-txt {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #002438;
  margin-bottom: 24px;
  max-width: 329px;
}
.discount-form {
  display: flex;
  flex-direction: column;
}
.discount-input {
  border: 1px solid #002438;
  padding: 16px;
  max-width: 329px;
  max-height: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #7f8487;
  background-color: transparent;
  margin-bottom: 24px;
}
.discount-input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
.discount-btn {
  padding: 10px 32px;
  max-width: 329px;
  height: 40px;
  background-color: #4987ba;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
